<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style-apps.css">
    <title>Randomize Equipment | Phasmophobia</title>
</head>
<body>
    <h1>Randomize Map</h1>
    <p>Click on randomize to get a random picked map.</p>
    <div id="maps"></div>
    <button id="randomizeButton" onclick="randomizeEquipment()">Randomize</button>
    <script src="../script.js"></script>
</body>
</html>