<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Special+Elite&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd79c89ddf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style-apps.css">
    <title>Randomize Equipment | Phasmophobia</title>
</head>
<body>
    <button onclick="toggleDarkMode()"></button>
    <h1>Randomize Equipment</h1>
    <p>Click on randomize to get a random picked equipment.</p>
    <div id="randomizer"><span>Press the button</span></div>
    <button id="randomizeButton" onclick="randomizeEquipment()">Randomize</button>
    <div id="result"></div>
    <nav class="sidebar">
        <a href="../index.html">Go back</a>
    </nav>

    <script src="../script.js"></script>
</body>
</html>