<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Randomizer</title>
</head>
<body>
    <div class="home">
        <h1>Phasmophobia Randomizer</h1>
        <p>This randomizer I've build is made to choose a map, light source and equipment to get a more challenging game in Phasmophobia. 
        The playstyle is up to you, but I recommend to select one map (obviously), one light source and three things from the equipment.
        It's quiet simple, just click each link which leads you to a randomizer and most important, have fun playing. Good luck!</p>
        <h2>Select a randomizer</h2>
        <div class="nav-links">
            <a href="./maps/maps.html">Maps</a>
            <a href="./lights/lights.html">Light source</a>
            <a href="./equipment/equipment.html">Equipment</a>    
        </div>
    </div>
    <div class="footer">
        <a href="https://www.linkedin.com/in/sean-van-bortel-1251a31b9">Made by Sean Van Bortel</p>
    </div>
    <script src="script.js"></script>
</body>
</html>