<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Randomizer</title>
</head>
<body>
    <div class="home">
        <h1>Welcome to The Randomizer for Phasmophobia</h1>
        <p>This is a randomizer that I've build to randomize maps, light source and equipment to get a more challenging game in Phasmophobia. It's quiet simple, just click each link which leads you to a randomizer and have fun playing. Good luck!</p>
        <h2>Randomizers</h2>
        <div class="nav-links">
            <a href="./maps/maps.html">Maps</a>
            <a href="./lights/lights.html">Light source</a>
            <a href="./equipment/equipment.html">Equipment</a>    
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>