@import 'style.css';

a {
  text-decoration: none;
  color: #111;
}

div {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 150px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
  font-size: 16pt;
  text-align: center;
}
button {
  background: black;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  width: 256px;
  height: 64px;
  padding: 1%;
  margin: 12px;
  font-size: 12pt;
  animation: button-reset 300ms forwards;
}

button:hover {
  animation: button-start 300ms forwards;
}

span {
  opacity: 0.6;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  font-size: 80%;
  min-width: 320px;
  bottom: 3vh;
  opacity: 0.8;
  animation: fade-reset 300ms forwards;
}

nav:hover {
  animation: fade-start 300ms forwards;
}

@keyframes fade-start {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-reset {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes button-start {
  from {
    background: #111;
    color: #eee;
  }
  to {
    background: #eee;
    color: #111;
  }
}

@keyframes button-reset {
  from {
    background: #eee;
    color: #111;
  }
  to {
    background: #111;
    color: #eee;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 80%;
    max-height: 90vh;
  }
}
