* {
  opacity: 0.98;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    to bottom right,
    rgba(210, 230, 260, 0.4),
    rgba(260, 230, 200, 0.4)
  );
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 5%;
  padding: 3%;
  border: dashed black 1px;
}

.home > p {
  text-align: center;
  font-size: 12pt;
  line-height: 32px;
  opacity: 0.8;
}

.home > h1 {
  text-align: center;
  font-size: 24pt;
}
.home > h2 {
  font-size: 16pt;
  padding: 32px 0 16px 0;
}

.nav-links {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.nav-links > a {
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  min-width: 128px;
  padding: 3%;
  margin: 0 2% 0 2%;
  background: rgba(210, 230, 260, 0.8);
  border-radius: 12px;
  animation: fade-reset 300ms forwards;
}

.nav-links > a:hover {
  color: black;
  background: white;
  animation: fade-start 300ms forwards;
}

@keyframes fade-start {
  from {
    color: white;
    background: black;
  }
  to {
    color: black;
    background: #eee;
  }
}

@keyframes fade-reset {
  from {
    color: black;
    background: #eee;
  }
  to {
    color: white;
    background: black;
  }
}

@keyframes footer-start {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes footer-reset {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

footer {
  opacity: 0.5;
  animation: footer-reset 300ms forwards;
}

footer:hover {
  animation: footer-start 300ms forwards;
}

footer > a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 375px) {
  body {
    max-height: 90vh;
  }

  .home {
    margin: 0;
    padding: 0;
    width: 90%;
  }

  .home > h1 {
    font-size: 20pt;
  }

  .home > h2 {
    font-size: 12pt;
    padding: 1.5%;
  }

  .home > p {
    font-size: 10pt;
    line-height: 16pt;
    max-width: 80%;
  }

  .nav-links > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    min-width: 20vw;
    margin: 5%;
    height: 40px;
  }

  footer {
    font-size: 60%;
    padding: 16px;
  }
} ;
