<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style-apps.css">
    <title>Randomize Light Source | Phasmophobia</title>
</head>
<body>
    <h1>Randomize Light Source</h1>
    <p>Click on randomize to get a random picked light source.</p>
    <div>Press the button</div>
    <button id="randomizeButton" onclick="randomizeLight()">Randomize</button>
    <nav class="sidebar">
        <a href="../index.html">Go back</a>
    </nav>
    <script src="../script.js"></script>
</body>
</html>